# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Virtual environments
backend/venv/
.venv/
venv/
ENV/
env/

# Environment variables
.env
.env.*

# Flutter
mobile/build/
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.flutter-plugins*
mobile/.packages

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

backend/app/var/